
.eventsSwiper {
  position: relative;
  padding-top: 10px;
  height: 80%;

}

.test {
  width: 100%;
  height: 100vh !important;
  position: relative;

  @media (max-width: 1440px) {
    height: 70vh !important;
  }
  @media (max-width: 1024px) {
    height: 82vh !important;
    gap: 40px;
    justify-content: center;
  }
  @media (max-width: 768px) {
    height: 115vh !important;
  }
  @media (max-width: 390px) {
    height: 170vh !important;
  }


}
.eventsSwiper-item {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 1024px) {
    height: 75vh !important;
    gap: 40px;
    justify-content: center;
  }

  @media (max-width: 768px) {
    height: 115vh !important;
    overflow: visible;
  }


  @media (max-width: 390px) {
    gap: 20px;
    justify-content: center;
    overflow: visible !important;
  }
}



.swiper-button-prev-events,
.swiper-button-next-events {
  z-index: 10;
  width: 40px;
  height: 40px;
  background-color: rgb(172, 185, 187);
  border-radius: 50%;
  color: rgba(19, 19, 19, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}


.swiper-button-prev-events {
  left: 46% !important;
  position: absolute;
  top: 30px;
  transform: translateY(-50%);

  &::after {
    color: red !important;
  }

  @media (max-width: 1024px) {
    left: 44% !important;
  }
  @media (max-width: 450px) {
    right: 30% !important;
    top: 20px;
  }
  @media (max-width: 390px) {
    left: 37% !important;
    top: 20px;
  }

}


.swiper-button-next-events {
  right: 46% !important;
  position: absolute;
  top: 30px;
  transform: translateY(-50%);

  @media (max-width: 1024px) {
    right: 44% !important;
  }
  @media (max-width: 450px) {
    right: 32% !important;
    top: 20px;
  }

  @media (max-width: 390px) {
    right: 37% !important;
    top: 20px;
  }
}

.eventsSwiper-item {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}