
.eventsSwiper {
  position: relative;
  padding-top: 10px;
  height: 80%;
}

.test {
  width: 100%;
  position: relative;

  @media (max-width: 650px) {
    height: 1100px !important;
  }

}

.eventsSwiper-item {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @media (max-width: 1280px) {
    gap: 40px;
  }
  @media (max-width: 1024px) {
    gap: 40px;
  }

  @media (max-width: 768px) {
    overflow: visible;
    gap: 20px;
    max-height: 1000px !important;

  }

  @media (max-width: 768px) {
    overflow: visible;
    gap: 50px;

  }


  @media (max-width: 450px) {
    justify-content: flex-start !important;
  }

  @media (max-width: 390px) {
    gap: 20px;
    overflow: visible !important;
  }
}


.swiper-button-prev-events,
.swiper-button-next-events {
  z-index: 10;
  width: 40px;
  height: 40px;
  background-color: rgb(172, 185, 187);
  border-radius: 50%;
  color: rgba(19, 19, 19, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}


.swiper-button-prev-events {
  left: 46% !important;
  position: absolute;
  bottom: 30px;
  transform: translateY(-50%);

  &::after {
    color: red !important;
  }

  @media (max-width: 1024px) {
    left: 44% !important;
  }
  @media (max-width: 450px) {
    right: 30% !important;
    bottom: 20px;
    display: none;
  }
  @media (max-width: 390px) {
    left: 37% !important;
    bottom: 20px;
  }

}


.swiper-button-next-events {
  right: 46% !important;
  position: absolute;
  bottom: 30px;
  transform: translateY(-50%);


  @media (max-width: 1024px) {
    right: 44% !important;
  }
  @media (max-width: 450px) {
    right: 32% !important;
    bottom: 20px;
    display: none;
  }

  @media (max-width: 390px) {
    right: 37% !important;
    top: 20px;
  }
}

.eventsSwiper-item {
  //overflow: hidden;
  //height: 100%;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 90%;
}

.swiper-slide1 {
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: flex-start !important; ;
}