.Reviews {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/images/reviews_bg.svg") !important;
  align-items: center;
  background-size: cover;
  z-index: 2;
  padding: 40px 0 20px;

  section {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    h2 {
      color: white;
      font-size: 28px;
      text-transform: uppercase;

    }

    .line {
      width: 170px !important;
      height: 4px;
      border-radius: 5px;
      background-color: white;
    }
  }

  .swiper_cont {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: transparent;


  }

  .box {
    width: 100%;

    display: flex;
    justify-content: space-around;
  }


}

