.category_slider {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  position: relative;

  background-color: #042F36;
  .category_swiper {
    padding: 0 40px;
  }



  .categorySlide {
    width: auto;
    display: flex;
    justify-content: center;
  }

  .categoryButton {
    padding: 10px 20px;
    background-color: #EAEBEC;
    border-radius: 8px;
    border: none;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;

    &:hover {
      background-color: #ACB9BB;
    }

    &.active {
      background-color: #3C916E;
      color: white;
    }
  }


}