.gallery {
  height: 100vh;
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  background-color: #042F36;

  .inner_cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      h2 {
        font-size: 24px;
        font-style: normal;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
      }

      .small_line {
        height: 2px;
        width: 150px;
        background-color: white;
      }
    }

    .cards {
      width: 100%;
      display: flex;
      justify-content: flex-start;

    }
  }
}

.slider {
  width: 80%;

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }
  }
}


@media (max-width: 1024px) {
  .gallery {
    .inner_cont {
      gap: 30px;

      section {
        h2 {
          font-size: 22px;
        }

        .small_line {
          width: 120px;
        }
      }

      .slider {
        width: 100%;
        display: flex;
        position: relative;

      }
    }
  }
}

@media (max-width: 768px) {
  .gallery {
    .inner_cont {
      column-gap: 20px;

      section {
        h2 {
          font-size: 20px;
        }

        .small_line {
          width: 100px;
        }
      }

    }
  }
}
