.Review {
  width: 372px !important;
  height: 423px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #EAEBEC;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }
}