
.Event {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  height: 215px;
  //border: 1px solid red;

  //overflow: hidden;

  > article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 322px;
    height: 100%;
    //border: 1px solid blue;
    padding: 10px;

    h3 {
      color: var(--basic-text-100, #042F36);
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }

    p {
      color: var(--basic-text-80, rgba(4, 47, 54, 0.80));
      font-family: Comfortaa;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  img {
    //border: 1px solid green;
    height: 100%;

  }

  aside {
    height: 100%;
    width: 648px;
    //border: 1px solid black;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

    p {
      overflow: hidden;
      color: var(--basic-text-80, rgba(4, 47, 54, 0.80));
      text-align: justify;
      text-overflow: ellipsis;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.6;

      display: -webkit-box;
      -webkit-line-clamp: 5; /* Ограничение видимых строк */
      -webkit-box-orient: vertical;
    }

    a {
      width: auto;
      margin-left: auto;

      display: flex;
      height: 41px;
      padding: 10px 15px;
      justify-content: center;
      align-items: center;
      gap: 4px;

      border-radius: 8px;
      border: 1px solid var(--basic-extra-xz, #3C916E);
      box-shadow: 0px 4px 15px 0px rgba(60, 145, 110, 0.15);
    }
  }
}

@media (max-width: 1024px) {
  .Event {
    height: 200px;

    article {
      width: 241px;

      h3 {
        font-size: 20px;
      }

      p {
        font-size: 16px;
      }
    }

    img {
      width: 241px;
      height: 100%;
    }

    aside {
      width: 424px;

      p {
        line-height: 1.5;
      }
    }
  }
}

@media (max-width: 768px) and (min-width: 744px) {
  .Event {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;

    article {
      width: 100%;
      grid-column: span 2 / span 2;
      display: flex;
      flex-direction: row;
      padding: 0;
    }

    aside {
      grid-row-start: 2;
      gap: 10px;
      padding: 0;
      padding-right: 5px;

      p {
        -webkit-line-clamp: 4;
        margin-bottom: 10px;

      }
    }

    img {
      grid-row-start: 2;
    }

  }
}

@media (max-width: 390px) {
  .Event {
    width: 340px !important;
    height: 360px !important;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    //border: 1px salmon solid;
    margin:  10px auto;

    article {
      width: 340px !important;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      padding: 0;
      gap:5px;

      h3 {
        font-size: 16px;
      }

      p {

        font-size: 10px;
      }
    }

    img {
      width: 100%;
      grid-row-start: 2;
    }

    aside {
      width: 340px !important;
      grid-row-start: 3;
      gap: 0px;
      padding: 0;
      margin-top: 10px;

      p {
        -webkit-line-clamp: 4;
        margin-bottom: 12px;
        font-size: 10px;
      }

      a {
        width: 100px;
        padding: 5px 10px;
        font-size: 14px;
        height: 31px;
      }
    }


  }
}